<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me!</title>
</head>
<body>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="favicon.ico">


<h2> You can contact me here:</h2>
<ul>
  <li><a href="purushothamkoduri19@gmail.com"></a>purushothamkoduride@gmail.com</li>
  <li><a href="https://www.linkedin.com/in/purushotham-koduri-5a4628140">My Linkedin Profile</a></li>
  
</ul>
<form action="mailto:purushothamkoduride@gmail.com" method="post" enctype="text/plain">

    <label for="">Your Name</label>
    <input type="text" name="yourName" value=""><br>
    <label for="">Your email</label>
    <input type="email" name="yourEmail" value=""><br>
    <label for="">Your Message</label><br>
    <textarea name="name" id="" cols="30" rows="10"></textarea><br>
    <input type="submit" value="save">

</form>

</body>
</html>